<app-hero-about></app-hero-about>

<h2 class="title">Our history</h2>
<p class="history">The Ristorante Ould Danube was founded in the early 1950s by the family Schnitzer. In the early days the Schnitzers were specialised on a variety of traditional fish dishes. By time they realized that restaurant's guests love other traditional dishes too, so the family additionally developed and took over other famous Austrian dishes like Wiener Schnitzel, Käsespätzle or several grill dishes, which were grilled on a seperate grill station. Now, 2023, the Ristorante Ould Danube is managed by Anton Schnitzer, grandson of the founders. </p>

<div class="d-flex flex-row mb-3 justify-content-between">
    <div class="p-2 img-hover-zoom--colorize"><img src="../../assets/images/Im NEUERWirt am 02.07.2020 um 21.02.38 94032.JPEG" width="200" alt="image"></div>
    <div class="p-2 img-hover-zoom--colorize"><img src="../../assets/images/Im NEUERWirt am 27.07.2020 um 20.06.26 94039.jpg" width="200" alt="image"></div>
    <div class="p-2 img-hover-zoom--colorize"><img src="../../assets/images/NEUERwirt (SaureHund) vom 05.09.2019 um 19.45.22 08482.jpeg" width="200" alt="image"></div>
  </div>