<app-hero-about></app-hero-about>

<div class="container">
  <h2 class="title">Our history</h2>
    <p class="history">
      The Ristorante Ould Danube was founded in the early 1950s by the family Schnitzer. In the early days the Schnitzers were specialised on a variety of traditional fish dishes. By time they realized that restaurant's guests love other traditional dishes too, so the family additionally developed and took over other famous Austrian dishes like Wiener Schnitzel, Käsespätzle or several grill dishes, which were grilled on a seperate grill station. Now, 2023, the Ristorante Ould Danube is managed by Anton Schnitzer, grandson of the founders. 
    </p>
  <p class="history">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis quibusdam inventore harum natus quidem assumenda ipsa numquam, vel maiores facere nostrum autem est dignissimos ullam! Eos alias sit molestiae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rerum fuga eos, laborum hic natus excepturi eum reprehenderit fugit deserunt quis possimus magnam itaque accusantium repellat illo aliquam, culpa quasi!
  </p>
  <p class = "history">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis quibusdam inventore harum natus quidem assumenda ipsa numquam, vel maiores facere nostrum autem est dignissimos ullam! Eos alias sit molestiae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rerum fuga eos, laborum hic natus excepturi eum reprehenderit fugit deserunt quis possimus magnam itaque accusantium repellat illo aliquam, culpa quasi!
  </p>

  <div class="d-flex flex-row mb-3 justify-content-between">
      <div class="p-2 img-hover-zoom--colorize"><img src="../../assets/images/neuer1.jpg" width="200" alt="image"></div>
      <div class="p-2 img-hover-zoom--colorize"><img src="../../assets/images/neuer3.jpg" width="200" alt="image"></div>
      <div class="p-2 img-hover-zoom--colorize"><img src="../../assets/images/neuer5.jpg" width="200" alt="image"></div>
      <div class="p-2 img-hover-zoom--colorize"><img src="../../assets/images/neuer4.jpg" width="200" alt="image"></div>
      <div class="p-2 img-hover-zoom--colorize"><img src="../../assets/images/neuer2.jpg" width="200" alt="image"></div>
    </div>
</div>