@font-face {
    font-family: MondernAntique;
    src: url(../../assets/fonts/ModernAntiqua-Book.ttf);
  }


.hero{
    height:300px;
    background: url("../../assets/images/neuer3.jpg");
    background-position:center;
    background-size: cover;
    color:white;
    text-align: center;
    padding-top:180px;
    // box-shadow: 5px 5px 6px black;
}
.danubetext{
  font-family: MondernAntique;
  font-size:40px;
  background: rgba(22, 7, 7, 0.4);
  width:45%;
  height:100px;
  position:absolute;
  margin-left:30%;
  padding-top:20px;
  padding-bottom:5px;
}
.parallax { 
    min-height: 200px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }